.verifiy-code{
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.code-input{
    width:8%;
    margin-right:1.5%;
    border-radius:0%;
}
.code-verification-main-content{
    background-color:white;
    padding-top:4%;
    padding-bottom:4%;
    box-shadow:rgb(161, 161, 237)  2px 2px 6px 6px ;
    width:45%;
}
.verify-code-button{
    width:30%;
    background-color:#03327C;
    color:white;
}
.verify-code-content{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
    margin-left:14%;
}
#forgot-password-back-button{
    position:fixed;
    top:4%;
    left:1%;
}