.gen-nav-bar{
    background-image:url("./src/assets/nav-image.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50%;
}
.gen-nav-bar-content{
    width:100%;
    height:40%;
    display: flex;
    justify-content: space-around;
}
.gen-nav-ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-top:3%;
}