@media(min-width:768px){
    .reset-password-main-content{
        background-color:white;
        padding:2%;
        box-shadow: rgb(161, 161, 237)  2px 2px 6px 6px ;
        
    }
    #logo{
        width: 20%;
        height: 20%;
        border-radius: 95%;
    }
    
    #reset-password-back-button{
        position:fixed;
        left:2%;
        top:4%;
        background-color:#03327C;
        color:white;
    }
    #reset-password-form{
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:start;
    }
    .reset-password-input{
        width:90%;
    }
    #reset-password-button{
        background-color:#03327C;
        color:white;
        width:35%;
        height:7%;
    }
    .password-reset{
        /* width:100vw; */
    }
}

