.reset-password-main-content{
    background-color:white;
    padding:10%;
    width:100%;
    margin-right:50%;
}

.reset-password-form{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
}
.reset-password-input{
    width:90%;
}
#reset-password-button{
    background-color:#03327C;
    color:white;
    width:35%;
    height:7%;
}