/* Main content styles */

.rooms-main-content{
    display:flex;
    flex-direction: column;
    gap:45px;
}
#sort-by-content{
        width: 7vw;
        height: 100%;
        border-radius: 10%;
        font-weight: bold;
}
.nav-bar{
    height:55vh;
}
.next-button-container{
    width:86%;
    display:flex;
    align-items: center;
    justify-content: end;
}
.next-button{
    background-color: #03327C;
    width:10%;
    color:white;
}
*{
    color:black;
}
/* Nav Bar Styles */

.dates-and-guests{
    display:flex;
    flex-direction:row;
    background-color: white;
    align-items: center;
    gap:8%;
    /* margin-top:5%; */
    height:25%;
    width:55%;
    border:2px solid black;
    margin-left: 20%;
    border-radius: 3%;
}
.dates-and-guests label{
    color:black;
}


.check-in-out-input{
width:100%;
height:50%;
background-color:white;
}

.filter-label{
   font-weight:bold;
}
.select-rooms-guests{
    width:75px;
    padding:5%;
}
.emoji{
    font-size: 40px;
}
#rooms-logo{
        height:55%;
        color: white;
        opacity: 1;
        filter:contrast(300%);
}


/* Filter Sort Content Styles */
.filter-content{
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
    width:78vw;
}
.filter-sort-content{
    display:flex;
    flex-direction:row;
    width:78vw;
    gap:54%;
}
.filter-buttons{
    border-radius: 0;
    border:2px solid black;
}

/* Rooms Styles */
.room-cards{
    width:28.5%;
    background-color:white;
    border-radius:4%;
    height:60vh;
}
.room-images{
    width:100%;
    height:40%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}
.Rooms{
    display:flex;
    flex-wrap: wrap;
    gap:5%;
    row-gap:45px;
}
.Rooms span,p{
    font-size:0.9rem;
    line-height: 0.5;
}
.Rooms h3{
    line-height: 0.05;
}
.Rooms p,h3,h4{
    display:flex;
    align-items:start;
    justify-content:start;
    margin-left:5%;
}
.stars{
text-align:start
}
.rooms-filter{
    width:98.5vw;
    display:flex;
    align-items: center;
    justify-content: center;
    /* height:50vh; */
}




